---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="post flex w-full max-w-[872px] flex-col gap-4">
    <header role="presentation" class=" mb-5">
      <h1 class="text-3xl leading-4">
        {post.data.title}
      </h1>
      <sub class="italic">Published {formatDate(post.data.publishedAt)}</sub>
    </header>

    <Content />
  </main>
</Layout>
