
@keyframes disco {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(359deg);
  }
}

.disco {
  animation-name: disco;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.hero-bg {
  background-image: url('/floral.webp');
  background-attachment: fixed;
}

.clip-text {
  background-image: url("/floral.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  width: fit-content;
  margin: 0;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.site-title {
  transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
  filter: hue-rotate(0deg) saturate(100%);
}

.site-title:hover {
  filter: hue-rotate(200deg) saturate(250%);
}
