---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="w-full max-w-3xl mx-auto text-slate-800">
		<main class="px-5">
			<img
				src="/profile.jpg"
				alt="Just a profile picture of me. I'm sitting at a table in a hip restaurant, trying to look cool."
				class="w-20 h-20 rounded-full my-10"
			/>

			<section class="my-10">
				<div class="flex items-baseline">
					<h2 class="text-lg font-semibold mb-2">👋 Hello, I'm Daniel Vaughn</h2>
					<!-- <small class="ml-2">(my name is Daniel Vaughn)</small> -->
				</div>

				<p class="mb-1">
					I'm a software engineer.
					I work across the entire stack, but I'm primarily interested in front-end web development.
					I've built interfaces for companies across several industries such as finance, entertainment, real estate, and cybersecurity.
				</p>
				<p class="mb-1">
					While I began my tech journey in the NYC startup scene, these days I'm building a family in South Florida with my beautiful wife and our two cats Basquiat and Warhol.
				</p>
				<p class="mb-1">
					Use the links below to find me across the internet.
				</p>
	
				<nav class="mt-2">
					<ul class="flex gap-2">
						<li>
							<a
								target="blank"
								href="https://github.com/danielvaughn"
								class="inline-flex items-center rounded-md bg-github/10 px-2 py-1 text-xs font-medium text-github ring-1 ring-inset ring-github/20 hover:ring-github/50"
							>
								Github
							</a>
						</li>
						<li>
							<a
								target="blank"
								href="https://www.linkedin.com/in/vaughndaniel"
								class="inline-flex items-center rounded-md bg-linkedin/10 px-2 py-1 text-xs font-medium text-linkedin ring-1 ring-inset ring-linkedin/20 hover:ring-linkedin/50"
							>
								LinkedIn
							</a>
						</li>
						<li>
							<a
								target="blank"
								href="https://news.ycombinator.com/threads?id=danielvaughn"
								class="inline-flex items-center rounded-md bg-hackernews/10 px-2 py-1 text-xs font-medium text-hackernews ring-1 ring-inset ring-hackernews/20 hover:ring-hackernews/50"
							>
								Hacker News
							</a>
						</li>
						<li>
							<a
								target="blank"
								href="https://twitter.com/danielvaughn"
								class="inline-flex items-center rounded-md bg-twitter/10 px-2 py-1 text-xs font-medium text-twitter ring-1 ring-inset ring-twitter/20 hover:ring-twitter/50"
							>
								Twitter
							</a>
						</li>
					</ul>
				</nav>
			</section>

			<section class="my-10">
				<h2 class="text-lg font-semibold mb-2">Things I've Built</h2>
	
				<p class="mb-1">
					Most of my work is closed source or behind paywalls.
					There are, however, several public-facing products in which I have played a dominant role.
				</p>

				<div class="mt-1">
					<dl class="divide-y divide-slate-100">
						<div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
							<a class="font-medium leading-6 text-blue-500 hover:text-blue-700 cursor-pointer" href="https://matry.design">Matry</a>
							<dd class="mt-1 leading-6 text-slate-600 sm:col-span-2 sm:mt-0">
								This is a personal project of mine that I have been working on for several years.
								It is a programming language built specifically for UI designers.							
							</dd>
						</div>

						<div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
							<a class="font-medium leading-6 text-blue-500 hover:text-blue-700 cursor-pointer" href="https://realtrade.io">RealTrade</a>
							<dd class="mt-1 leading-6 text-slate-600 sm:col-span-2 sm:mt-0">
								RealTrade is on a mission to revolutionize the real estate industry with a social platform built for humans.
							</dd>
						</div>

						<div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
							<a class="font-medium leading-6 text-blue-500 hover:text-blue-700 cursor-pointer" href="https://app.bundleiq.com">BundleIQ</a>
							<dd class="mt-1 leading-6 text-slate-600 sm:col-span-2 sm:mt-0">
								BundleIQ is a knowledge base and mind-extension that helps you remember things you've written.
							</dd>
						</div>
					</dl>
				</div>
			</section>
		</main>
	</body>
</html>
